.footer {
  font-size: 14px;
  line-height: 1.7;

  background-color: var(--secondary-background-color);

  &__container {
    display: flex;

    @media screen and (max-width: 767px) {
      padding-top: 60px;
      padding-bottom: 60px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-wrap: wrap;
      align-content: space-around;
      align-items: baseline;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-right: 89px;
      padding-left: 76px;
    }
  }

  &__contacts-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 232px;

    @media screen and (max-width: 1199px) {
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 60px;
      padding-bottom: 60px;
      margin-bottom: 0;
      width: 231px;
    }
  }

  &__logo {
    color: var(--primary-white-color);
  }

  &__address {
    margin-top: 20px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
  }

  &__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__social-networks-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 206px;

    @media screen and (max-width: 1199px) {
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      margin-left: 165px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 72px;
      padding-bottom: 100px;
      margin-left: 70px;
      margin-bottom: 0;
    }
  }

  &__email-container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1199px) {
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      margin-left: 90px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 72px;
      padding-bottom: 94px;
      margin-left: 93px;
    }
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;

  &__link {
    display: block;
    margin-top: 9px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;

    transition: color 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.social-networks-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;

    transition: background-color 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  &__icon {
    fill: var(--primary-white-color);
  }
}

.email-form {
  display: flex;
  margin-top: 20px;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__input {
    padding: 15px 16px;

    width: 450px;
    height: 50px;
    color: var(--primary-white-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: var(--secondary-background-color);
    outline: none;

    @media screen and (min-width: 1200px) {
      margin-right: 12px;
      width: 358px;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;

      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button {
    display: flex;
    width: 200px;
    height: 50px;

    font-family: inherit;
    @include font(16px, 700, 1.9);
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    align-items: center;
    justify-content: center;

    background-color: var(--accent-color);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    transition: box-shadow 250ms var(--transition-timing-function);

    @media screen and (max-width: 1199px) {
      margin-top: 20px;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }

  &__icon {
    margin-left: 10px;
  }
}
