.workers-section {
  background-color: var(--third-background-color);
}

.workers-list {
  display: flex;

  &__item {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.worker-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--primary-white-color);
  }

  &__title {
    color: var(--headers-color);

    @include font(16px, 500, 1.9);
  }

  &__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
  }
}

.workers-icons-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__icon {
    fill: var(--details-grey-color);
    align-items: center;

    transition: fill 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
      fill: #fff;
    }

    .workers-icons-list__link:hover &,
    .workers-icons-list__link:focus & {
      fill: #fff;
    }
  }
}
