.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px;

  width: 528px;
  height: 581px;

  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms var(--transition-timing-function);

  &__button {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;

    cursor: pointer;
    padding: 0;

    transition: fill 250ms var(--transition-timing-function);
  }

  &__button:hover .modal__icon,
  &__button:focus .modal__icon {
    fill: var(--accent-color);
  }

  &__title {
    display: block;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--headers-color);
  }
}
