:root {
  --primary-white-color: #fff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --headers-color: #212121;
  --text-color: #757575;
  --third-background-color: #f5f4fa;
  --black-text-color: #000;
  --details-grey-color: #afb1b8;

  --projects-list-gap: 30px;
  --portfolio-card-border: 1px solid #eeeeee;
  --main-text: Roboto, sans-serif;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
